<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.api.client.mapper.ClientDetailMapper">

    <select id="selectClientByPrimaryKey" resultType="Client">
        select
            client_id,
            client_name,
            industry_code,
            version_no
        from
            client
        where
            client_id = #{clientId}
    </select>

</mapper>