<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.api.client.mapper.ClientDeleteMapper">

    <delete id="deleteClientByPrimaryKey">
        delete from
            client
        where
            client_id = #{clientId}
    </delete>

</mapper>