<!DOCTYPE html>
<html th:replace="~{common/layout :: layout(~{:: title}, ~{:: body/content()}, true)}" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../../static/css/bootstrap.min.css" />
    <script src="../../../static/js/jquery-3.6.0.min.js"></script>
    <script src="../../../static/js/bootstrap.bundle.min.js"></script>
    <script src="../../../static/js/common.js"></script>
    <title>プロジェクト更新</title>
  </head>

  <body class="container">
    <div class="row mb-4">
      <div class="col">
        <div class="fs-2 fw-bold">プロジェクト更新完了</div>
      </div>
    </div>
    <div class="mb-3">
      <span>更新が完了しました。</span>
    </div>
  </body>
</html>
